body {
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

article {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  font-size: 13px;
}

form {
  display: flex;
  justify-content: center;
  margin: 20px 20px;
}

button, input {
  border-radius: 5px;
  margin: 10px 5px;
  padding: 5px 8px;
}

button {
  background-color: #7c6beb;
}

.rep-container {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.rep-data {
  border: 1px solid darkgray;
  border-radius: 5px;
  background-color: aliceblue;
  box-shadow: 5px 5px 5px;
  width: 95%;
  height: 200px;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
}

.rep-img {
  width: 140px;
  height: auto;
  margin: 0 5px;
  align-self: center;
}

.rep-info {
  padding: 5px;
  font-size: 15px;
}

.rep-info-contnt {
  margin: 5px auto;
}

/* Desktop web formatting */

@media only screen and (min-width: 600px){
header {
  font-size: 30px;
}
article{
  font-size: 20px;
}
.rep-img {
  margin: 7px;
}
.rep-data {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 330px;
  justify-content: space-between;
}
.rep-info {
  font-size: 12px;
}
}